<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <title th:text="${titolo}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
    <div>
    	<p th:text="${testo}" />
    </div>
	<div>
    	<p th:text="'Titolo: ' + ${quadro.titolo}" />
    </div>
	<div>
    	<p th:text="'Anno: ' + ${quadro.anno}" />
    </div>
	<div>
    	<p th:text="'Tecnica: ' + ${quadro.tecnica}" />	
    </div>
	<div>
    	<p th:text="'Dimensioni: ' + ${quadro.dimensioni}" />	
      </div>
   	<div>
    	<p th:text="'Autore: ' + ${quadro.autore.nome} + ' ' + ${quadro.autore.cognome}" />	
    </div>
    <form action="#" th:action="@{${action}}" method="get">
   	<button type="submit" class="btn btn-default">Ok</button>
	</form>
</body>
</html>