<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Autore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/index.css" />
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	
	<!-- inverte i colori della barra -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Home</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Chi siamo</a></li>
				<li><a href="#">Dove Siamo</a></li>
				<li><a href="#">Contatti</a></li>
			</ul>
			<a class="btn btn-lg bt-primary" href="/listaQuadri"> Visita</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/login"><span
						class="glyphicon glyphicon-log-in"></span> Area Riservata</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
	
	
	
	
	
	
	
<!--    <div class="form-group has-success has-feedback">
    <label class="col-sm-2 control-label" for="inputSuccess">
    Input with success and icon</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputSuccess"/>
      <span class="glyphicon glyphicon-ok form-control-feedback"></span>
    </div>
  </div>
  -->
  
  
  
  
		<form action="#" th:action="@{/autore}" th:object="${autore}"
			method="post">
			<div class="form-group" >
				<div>
					<span th:text="#{label.nome}"> Nome: </span> <span><input
						type="text" th:field="*{nome}" /></span> <span
						th:if="${#fields.hasErrors('nome')}" th:text="#{label.mandatory}">Error</span>
				</div>
			</div>

			<div class="form-group">
				<div>
					<span th:text="#{label.cognome}"> Cognome: </span> <span><input
						type="text" th:field="*{cognome}" /></span> <span
						th:if="${#fields.hasErrors('cognome')}"
						th:text="#{label.mandatory}">Error</span>
				</div>
			</div>

			<div class="form-group">
				<div>
					<span th:text="#{label.dataNascita}">Data di nascita: </span> <span><input
						type="text" th:field="*{dataNascita}" /></span> <span
						th:if="${#fields.hasErrors('dataNascita')}"
						th:text="#{label.data}">Error</span>
				</div>
			</div>

			<div class="form-group">
				<div>
					<span th:text="#{label.dataMorte}"> Data di morte: </span> <span><input
						type="text" th:field="*{dataMorte}" /></span> <span
						th:if="${#fields.hasErrors('dataMorte')}" th:text="#{label.data}">Error</span>
				</div>
			</div>

			<div class="form-group">
				<div>
					<span > Nazionalit&agrave; : </span> <span><input
						type="text" th:field="*{nazionalita}" /></span> <span
						th:if="${#fields.hasErrors('nazionalita')}"
						th:text="#{label.mandatory}">Error</span>
				</div>

			</div>

			<div>
				<span><button type="submit" class="btn btn-default">Submit</button></span>
			</div>

			<input type="hidden" value="${autore.id}" th:field="*{id}" />
		</form>
	</div>
	
		<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>