<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Autore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<link href="../css/form.css" rel="stylesheet" />
</head>
<body>

	<!-- inverte i colori della barra -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Home</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Chi siamo</a></li>
				<li><a href="#">Dove Siamo</a></li>
				<li><a href="#">Contatti</a></li>
			</ul>
			<a class="btn btn-lg bt-primary" href="/listaQuadri"> Visita</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"> <span class="glyphicon glyphicon-user"><font face="verdana">User</font></span>
				</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">


		<div class="page-header">
			<h1>Inserimento nuovo autore</h1>
		</div>

		<form class="form-horizontal" action="#" th:action="@{/autore}"
			th:object="${autore}" method="post">

			<div class="form-group">

				<label class="control-label col-sm-2" for="#{label.nome}">
					Nome:</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{nome}" /> <span
						th:if="${#fields.hasErrors('nome')}" th:text="#{label.mandatory}"
						style="color: #5079B4; font-weight: bold">Error</span>
				</div>

			</div>



			<div class="form-group">

				<label class="control-label col-sm-2" for="#{label.cognome}">
					Cognome: </label>
				<div class="col-sm-10">
					<input type="text" th:field="*{cognome}" /> <span
						th:if="${#fields.hasErrors('cognome')}"
						th:text="#{label.mandatory}"
						style="color: #5079B4; font-weight: bold">Error</span>
				</div>

			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="#{label.dataNascita}">Data
					di nascita: </label>
				<div class="col-sm-10">
					<input type="text" th:field="*{dataNascita}" /> <span
						th:if="${#fields.hasErrors('dataNascita')}"
						th:text="#{label.data}" style="color: #5079B4; font-weight: bold">Error</span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="#{label.dataMorte}">
					Data di morte: </label>
				<div class="col-sm-10">
					<input type="text" th:field="*{dataMorte}" /> <span
						th:if="${#fields.hasErrors('dataMorte')}" th:text="#{label.data}"
						style="color: #5079B4; font-weight: bold">Error</span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2"> Nazionalit&agrave; :
				</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{nazionalita}" /> <span
						th:if="${#fields.hasErrors('nazionalita')}"
						th:text="#{label.mandatory}"
						style="color: #5079B4; font-weight: bold">Error</span>
				</div>
			</div>

			 <div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-info active" style="background-color:#5079B4;">Inserisci</button>
			</div>

			<input type="hidden" value="${autore.id}" th:field="*{id}" />
		</form>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>