<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <title th:text="${titolo}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link href="../css/form.css" rel="stylesheet" />
<body>
	<!-- inverte i colori della barra -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Home</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="navbar-header"><a href="#">Chi siamo</a></li>
					<li><a href="#">Dove Siamo</a></li>
					<li><a href="#">Contatti</a></li>
				</ul>
				<a class="btn btn-lg bt-primary" th:href="@{/lista(tipo=quadro)}">Lista quadri</a>
				<a class="btn btn-lg bt-primary" th:href="@{/lista(tipo=autore)}">Lista autori</a>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/pannelloAmministratore}"><span class="glyphicon glyphicon-log-in"></span> Area Riservata</a></li>
				</ul>

			</div>
	</nav>
	<div class="container">
		<div class="page-header">
			<h1 th:text="${testo}"></h1>
		</div>
	<div>
    	<p th:text="'Titolo: ' + ${quadro.titolo}" />
    </div>
	<div>
    	<p th:text="'Anno: ' + ${quadro.anno}" />
    </div>
	<div>
    	<p th:text="'Tecnica: ' + ${quadro.tecnica}" />	
    </div>
	<div>
    	<p th:text="'Dimensioni: ' + ${quadro.dimensioni}" />	
      </div>
   	<div>
    	<p>
    	Autore: <a th:text="${quadro.autore.nome} + ' ' + ${quadro.autore.cognome}" th:href="@{/mostraAutoreQuadro(autore=${quadro.autore.id},idQuadro=${quadro.id})}"></a>
    	</p>
    </div>
        <div> 
    	<form class="form-horizontal"  action="#" th:action="@{${action}}" method="get">
    			<input type="hidden" value="${quadro.id}" th:name="idQuadro" />
				<button type="submit" class="btn btn-info active" style="background-color:#5079B4;">Ok</button>
		</form>
		</div>
	</div>
</body>
</html>