<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista quadri</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../css/form.css" />

</head>
<body>

	<!-- inverte i colori della barra -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Home</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="navbar-header"><a href="#">Chi siamo</a></li>
				<li><a href="#">Dove Siamo</a></li>
				<li><a href="#">Contatti</a></li>
			</ul>
			<a class="btn btn-lg bt-primary" href="/listaQuadri"> Visita</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/login"><span
						class="glyphicon glyphicon-log-in"></span> Area Riservata</a></li>
			</ul>

		</div>
	</nav>
	<div class="container">


		<div class="page-header">
			<h1>La nostra collezione</h1>
		</div>
		<ul>
			<li th:each="quadro : ${quadri}"><a
				th:href="@{/dettagli(id=${quadro.id})}" th:text="${quadro.titolo}"></a>
			</li>
		</ul>
	</div>
</body>
</html>