<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />


<style>
.jumbotron {
	background-color: grey;
}
</style>
</head>

<body>

	<!--  nav-inverse inverte i colori della barra -->
	<nav class="navbar navbar-inverse" role="navigation">

		<!-- Logo e pulsante per barra ridimensionata -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Espandi barra di navigazione</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<!--  <a class="navbar-brand" href="index.html">Logo</a> -->
		</div>

		<!-- Elementi della barra -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</div>

	</nav>
	<!-- container imposta un margine a destra ed uno a sinistra ed imposta la sua larghezza 
in base alla dimensione del dispositivo su cui la pagina è visualizzata. -->
	<div class="container">

		<div class="page-header">
			<h1>Benvenuto nella Galleria!</h1>
		</div>

		<div class="jumbotron">
			<form name="f" th:action="@{/loginAmm}" method="post">
				<fieldset>
					<legend>Please Login</legend>
					<div th:if="${param.error}" class="alert alert-error">Invalid
						username and password.</div>
					<div th:if="${param.logout}" class="alert alert-success">You
						have been logged out.</div>
					<label for="username">Username</label> <input type="text"
						id="username" name="username" /> <label for="password">Password</label>
					<input type="password" id="password" name="password" />
					<div class="form-actions">
						<button type="submit" class="btn btn-success btn-xs">Log
							in</button>
					</div>
				</fieldset>
			</form>
		</div>

	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>