<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../css/form.css" />


<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
	//nasconde i messaggi di conferma dopo 2 secondi
	var fade_out = function() {
		$("#nessunAutoreInserisciQuadro").fadeOut();
		$("#nessunAutoreModificaAutore").fadeOut();
		$("#nessunAutoreEliminaAutore").fadeOut();
		$("#nessunQuadroModificaQuadro").fadeOut();
		$("#nessunQuadroEliminaQuadro").fadeOut();
	}

	setTimeout(fade_out, 1000);
</script>
</head>
<body>

	<!-- inverte i colori della barra -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Home</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="navbar-header"><a href="#">Chi siamo</a></li>
				<li><a href="#">Dove Siamo</a></li>
				<li><a href="#">Contatti</a></li>
			</ul>
			<a class="btn btn-lg bt-primary" href="/listaQuadri"> Visita</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"> <span class="glyphicon glyphicon-user"><font face="verdana">User</font></span>
				</a></li>
			</ul>

		</div>
	</nav>
	<div class="container">

		<div class="page-header">
			<h1>Operazioni amministratore</h1>
		</div>
		<div class="row">
			<div class="col-md-4">
				<a href="/inserisciAutore"> Inserisci un nuovo autore </a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<a href="/inserisciQuadro"> Inserisci un nuovo quadro </a> <span th:if="${nessunAutoreInserisciQuadro}"
					style="margin-left: 10px; display: inline-block; color: red;"
					id="nessunAutoreInserisciQuadro"
					th:text="#{label.nessunAutoreInserisciQuadro}"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<a href="/selezionaAutore"> Modifica un autore </a> <span
					th:if="${nessunAutoreModificaAutore}"
					style="margin-left: 5px; display: inline-block; color: red;"
					id="nessunAutoreModificaAutore"
					th:text="#{label.nessunAutoreModificaAutore}"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<a href="/modificaQuadro"> Modifica un quadro </a> <span
					th:if="${nessunQuadroModificaQuadro}"
					style="margin-left: 5px; display: inline-block; color: red;"
					id="nessunQuadroModificaQuadro"
					th:text="#{label.nessunQuadroModificaQuadro}"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<a href="/eliminaAutore"> Elimina un autore </a> <span
					th:if="${nessunAutoreEliminaAutore}"
					style="margin-left: 5px; display: inline-block; color: red;"
					id="nessunAutoreEliminaAutore"
					th:text="#{label.nessunAutoreEliminaAutore}"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<a href="/eliminaQuadro"> Elimina un quadro </a> <span
					th:if="${nessunQuadroEliminaQuadro}"
					style="margin-left: 5px; display: inline-block; color: red;"
					id="nessunQuadroEliminaQuadro"
					th:text="#{label.nessunQuadroEliminaQuadro}"></span>
			</div>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
