<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

	<div class="row">
		<div class="col-md-4">
			<a href="/autore"> Inserisci un nuovo autore </a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<a href="/quadro"> Inserisci un nuovo quadro </a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<a href="/selezionaAutore"> Modifica un autore </a>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<a href="/selezionaQuadro"> Modifica un quadro </a>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
