<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${titolo}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
    	<p th:text="${testo}" />
    </div>
	<form action="#" th:action="@{${action}}" method="post">
		<div>
			<span th:text="#{label.autore}"> Autore: </span>
			<select name="autoreSelezionato" id="autoUpdate" class="autoUpdate">
				<option value="" th:disabled="true" th:selected="true">Seleziona un autore...</option>
				<option th:each="autore: ${autori}" th:value="${autore.id}" th:text="${autore.nome} + ' ' + ${autore.cognome}" />
			</select>
		</div>
		<div>
			<span th:text="#{label.titolo}"> Titolo: </span>
			<span><input type="text" name="titoloQuadro" /></span> 
		</div>
		<div>
			<span><button type="submit" th:text:="${testoBottone}"></button></span>
		</div>
	</form>
</body>
</html>