<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${titolo}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<link href="../css/form.css" rel="stylesheet" />
</head>
<body>
<!-- inverte i colori della barra -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Home</a>
			</div>
			<ul class="nav navbar-nav">
			<li class="navbar-header"><a href="#">Chi siamo</a></li>
				<li><a href="#">Dove Siamo</a></li>
				<li><a href="#">Contatti</a></li>
			</ul>
			<a class="btn btn-lg bt-primary" href="/listaQuadri"> Visita</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"> <span class="glyphicon glyphicon-user"><font
							face="verdana">User</font></span>
				</a></li>
			</ul>
		</div>
	</nav>
   	<div class="container">
		<div class="page-header">
			<h1 th:text="${testo}"></h1>
		</div>
	<form class="form-horizontal" action="#" th:action="@{${action}}" method="post">
			<div class="form-group">
			<label class="control-label col-sm-2" for="#{label.autore}"> Autore: </label>
			<select name="autoreSelezionato" id="autoUpdate" class="autoUpdate">
				<option value="" th:disabled="true" th:selected="true">Seleziona un autore...</option>
				<option th:each="autore: ${autori}" th:value="${autore.id}" th:text="${autore.nome} + ' ' + ${autore.cognome}" />
			</select>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="#{label.titolo}"> Titolo: </label>
				<div class="col-sm-10">
				<input type="text" name="titoloQuadro" />
				</div>
		</div>
		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-info active" style="background-color:#5079B4;" 
				th:text="${testoBottone}"></button>
			</div>
	</form>
	</div>
</body>
</html>